@model coproBox.Models.Utilisateur
@{
    Layout = "_Layout";
    ViewBag.Title = "Notre équipe";
}
<link href="/css/equipe.css" rel="stylesheet">

<div class="wrapper">
    <h1>Notre équipe</h1>

    <div class="team">
        <div class="team_member">
            <div class="team-img">
                <img class="team-image" src="/Image/equipe/team1.png" alt="team_member_image" />
            </div>
            <h3>Fouzi BENMAKHLOUF</h3>
            <p class="team-role">FULLSTACK DEVELOPPER</p>
            <p>
                Sensei du code, Ami des casse-têtes...
            </p>
        </div>
        <div class="team_member">
            <div class="team-img">
                <img class="team-image" src="/Image/equipe/team2.png" alt="team_member_image" />
            </div>
            <h3>Myriam SORHAINDO-CAROLE</h3>
            <p class="team-role">FULLSTACK DEVELOPPER</p>
            <p>
                Adepte des nuits blanches, le sens du détail ne lui fait pas peur...
            </p>
        </div>
        <div class="team_member">
            <div class="team-img">
                <img class="team-image" src="/Image/equipe/team3.png" alt="team_member_image" />
            </div>
            <h3>Valery KALOMBO</h3>
            <p class="team-role">FULLSTACK DEVELOPPER</p>
            <p>
                Iron Man, Inspecteur COLOMBO, ou encore Jack SPARROW, rien ne l'arrête!
            </p>
        </div>
    </div>
</div>
