@using coproBox.Models
@model coproBox.Models.Utilisateur
@{
    Layout = "_Layout";
    ViewBag.Title = "Création compte utilisateur";
}

<div class="admin-contenu">
    <div class="admin-contenu-left">
        <div class="admin-annonce">
            <div class="admin-annonce-entete">

            </div>
            <div class="admin-annonce-corps">

            </div>
        </div>
        <div class="admin-cagnotte">
            <div class="admin-cagnotte-entete">

            </div>
            <div class="admin-cagnotte-corps">
                 <div class="admin-cagnotte-1">

                 </div>
                 <div class="admin-cagnotte-1">

                 </div>
                 <div class="admin-cagnotte-1">

                 </div>
            </div>
        </div>
    </div>
    <div class="admin-contenu-right">
        <div class="admin-contenu-1">
            <div class="admin-contenu-1a">

            </div>
            <div class="admin-contenu-1b">

            </div>
        </div>
        <div class="admin-contenu-1">
            <div class="admin-contenu-2a">

            </div>
            <div class="admin-contenu-1b">

            </div>
        </div>
        <div class="admin-contenu-1">
            <div class="admin-contenu-1a">

            </div>
            <div class="admin-contenu-1b">

            </div>
        </div>
    </div>
</div>
<div class="admin-footer">
    <div class="admin-footer-alerte">
        <div class="admin-footer-entete">

        </div>
        <div class="admin-footer-corps">

        </div>
    </div>
    <div class="admin-footer-recherche">

    </div>
</div>