<div class="dash-usr">
    <div class="dash-cagnottes">
        
    </div>
    <div class="dash-annonces">
        <div class="dash-annonces-crees">

        </div>
        <div class="dash-annonces-reservees">
        
        </div>
    </div>
    <div class="dash-quittances">
        
    </div>
</div>