<div class="dash-usr">
    <div class="dash-cagnottes-usr dash-usr-content">
        <h3>Participation aux Cagnottes</h3>
        @foreach (var participation in Model.ParticipationCagnottes)
        {
            <a href="/cagnotte/infocagnotte/@participation.Cagnotte.Id">
                <div class="dash-particip">
                    @participation.Cagnotte.Titre : @participation.Montant€
                </div>
            </a>
        }
    </div>
    <div class="dash-annonces-user dash-usr-content">
        <div class="dash-annonces-perso">
            <h3>Mes Annonces</h3>
            @foreach (var annonce in Model.AnnoncesPerso)
            {
                <a href="/annonce/infoannonce/@annonce.Id">
                    <div class="dash-annonce">
                        <h5>@annonce.Titre</h5>
                        <div>@annonce.Description</div>
                    </div>
                </a>
            }
        </div>
        <div class="dash-annonces-reservees dash-usr-content">
        
        </div>
    </div>
    <div class="dash-quittances dash-usr-content">
        
    </div>
    <div class="dash-paiements dash-usr-content">

    </div>
</div>