@model coproBox.ViewModels.DashboardViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Tableau de Bord";
}
<h1 style="text-align:center;">Tableau de Bord</h1>
<div class="dash-notifications">
</div>
@Html.Partial("DashboardAdmin")
@Html.Partial("DashboardModerateur")



@*
<div class="user-index-logo">
    <div class="user-index-log">
        <a href="/utilisateur/CreerUtilisateur"><img id="logo" src="../Image/logoA.png" width="120" height="120" /></a>
        <p>Créer un utilisateur</p>
    </div>

    <div class="user-index-log">
        <a href="/utilisateur/ListeUtilisateur"><img id="logo" src="../Image/logoB.png" width="120" height="120" /></a>
        <p>Liste des utilisateurs</p>
    </div>

    <div class="user-index-log">
        <a href="/utilisateur/ModifierUtilisateur"><img id="logo" src="../Image/logoC.png" width="120" height="120" /></a>
        <p>Modifier un utilisateur</p>
    </div>
</div>
*@
