@model List<coproBox.Models.Utilisateur>
@{
    Layout = "_Layout";
    ViewBag.Title = "Utilisateur";
}
<div class="liste-utilisateur">


<div>
    <a href="/utilisateur/CreerUtilisateur"><img id="logo" src="../Image/logoA.png" width="90" height="90" /></a>
    <p>Créer un utilisateur</p>
</div>

<div>
    <a href="/utilisateur/ListeUtilisateur"><img id="logo" src="../Image/logoB.png" width="90" height="90" /></a>
    <p>Liste des utilisateurs</p>
</div>

<div>
    <a href="/utilisateur/ModifierUtilisateur"><img id="logo" src="../Image/logoC.png" width="90" height="90" /></a>
    <p>Modifier un utilisateur</p>
</div>



</div>