@model List<coproBox.Models.Utilisateur>
@{
    Layout = "_Layout";
    ViewBag.Title = "Utilisateur";
}

       
    <div class="user-index-section">
        <div class="user-box">
            <a href="/utilisateur/CreerUtilisateur"><img id="" src="../Image/logoA.png" width="90" height="90" />Créer un utilisateur</a>
        </div>
        <div class="user-box">
            <a href="/utilisateur/ListeUtilisateur/"><img id="" src="../Image/logoB.png" width="90" height="90" />Liste des utilisateurs</a>
        </div>
        <div class="user-box">
            <a href="Utilisateur/ModifierUtilisateur/"><img id="" src="../Image/logoC.png" width="90" height="90" />Modifier un utilisateur</a>
        </div>
    </div>
