@{
    Layout = "_Layout";
    ViewBag.Title = "AfficherAnnonce";
}

<h1 class="titreAfficherAnnonce">Afficher annonce</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row g-0">
							<div class="imageCarte col-md-4">
								<img src="/Image/velo.jpeg" class="img-fluid rounded-start" alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Titre</h5>
									<p class="card-text">Catégorie</p>
									<p class="card-text">Date et heure:</p>
									<p class="card-text"><strong>Description:</strong> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<p class="card-text"><small class="text-muted">Prix:</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="/Image/outillage.jpg" class="img-fluid rounded-start" alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Titre</h5>
									<p class="card-text">Catégorie</p>
									<p class="card-text">Date et heure:</p>
									<p class="card-text"><strong>Description:</strong> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<p class="card-text"><small class="text-muted">Prix:</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="/Image/party.jpg" class="img-fluid rounded-start" alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Titre</h5>
									<p class="card-text">Catégorie</p>
									<p class="card-text">Date et heure:</p>
									<p class="card-text"><strong>Description:</strong> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<p class="card-text"><small class="text-muted">Prix:</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="/Image/chien.jpg" class="img-fluid rounded-start" alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">Titre</h5>
									<p class="card-text">Catégorie</p>
									<p class="card-text">Date et heure:</p>
									<p class="card-text"><strong>Description:</strong> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
									<p class="card-text"><small class="text-muted">Prix:</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>