@model List<coproBox.Models.Cagnotte>
@{
    Layout = "_Layout";
    ViewBag.Title = "Anciennes Cagnottes";
}
<a href="/cagnotte/CreerCagnotte">Go</a>
<h1 class ="header-cagnotte">Anciennes Cagnottes Solidaires</h1>
@Html.Partial("ListeCagnottes", Model)
@if ((int)@ViewData["page"] > 0){
    <a href="/cagnotte/AnciennesCagnottes/@((int)ViewData["page"]-1)">Prev</a>
}
@if((int)ViewData["reste"] > 0){
    <a href="/cagnotte/AnciennesCagnottes/@((int)ViewData["page"]+1)">Next</a>
}
    