@model List<coproBox.Models.Cagnotte>
@{
    Layout = "_Layout";
    ViewBag.Title = "Cagnottes";
}
<a href="/cagnotte/CreerCagnotte">New Cagnotte</a>
<h1 class="header-cagnotte">Les Cagnottes Solidaires</h1>
<h6 class ="header-cagnotte"><a href="/cagnotte/AnciennesCagnottes">(Anciennes cagnottes)</a></h6>
@Html.Partial("ListeCagnottes", Model)
