@model coproBox.Models.Cagnotte
@{
    Layout = "_Layout";
    ViewBag.Title = "Infos Cagnotte";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>How much? </legend>
        <input type="number" name="Montant" min="0">
        <div class="button">
            <input type="submit" value="Aider <3" />
        </div>
    </fieldset>
}