@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}

<h3 class="titre"></h3>
<p class="contenu">XXXXXXX</p>

    <img id="bande" src="/Image/bande.png" class="img-fluid" alt="...">
    <h1>Welcome to the Landing Page!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis. Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.</p>



