@model coproBox.ViewModels.UtilisateurViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/Site.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Accueil</title>
</head>
<body>
    <div class="conteneur">
        <div class="row">
            <div class="box1 border border-secondary index-residence col-md-6">
                <div class="box1-residence">
                    <h4 class="titreResidence">residence</h4>
                    <h2 class="titreResidence">les pommiers</h2>
                </div>
            </div>
            <div class="box2 border border-secondary col-md-6">
                <form role="form" method="post">
                    <h5>Page d'authentification</h5>

                    <div class="form-group mb-4">
                        <div class="row g-3 align-items-center justify-content-center d-flex">
                            <div class="col-auto d-flex index-mail">
                                <span class="input-group-text ">
                                    <img src="/Image/user-profil.png" width="20" height="23" />
                                </span>
                                @Html.EditorFor(m => m.Utilisateur.Compte.email, new { @class = "form-control", htmlAttributes = new { type = "email", id = "email", placeholder = "Votre adresse mail" } })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.Utilisateur.Compte.email)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row g-3 align-items-center justify-content-center">
                            <div class="col-auto d-flex index-mdp">
                                <span class="input-group-text ">
                                    <img src="/Image/user-mdp.png" width="20" height="23" />
                                </span>
                                @Html.EditorFor(m => m.Utilisateur.Compte.motDePasse, new { @class = "form-control", htmlAttributes = new { type = "password", id = "inputPassword6", placeholder = "mot de passe" } })
                                
                            </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.Utilisateur.Compte.motDePasse)
                            </div>
                        </div>
                    </div>
                    <div class="user-index-btn">
                        <button type="submit" class="btn btnCard-index mb-1 d-flex" style="background-color: #41c070;color: aliceblue;border-color: #41c070;">Valider</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="box3 border border-secondary col-md-6">
                <div class="Logo"></div>
            </div>
            <div class="box4 border border-secondary col-md-6">
                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>
