@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}

<!--<div class="overlay">
    <div class="description">
        <h1>Welcome to the landing Page!</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, optio eligendi consequatur minima unde saepe illum, deserunt error et ad officiis hic. Quibusdam necessitatibus libero impedit deserunt voluptatibus quae qui.</p>

    </div>
</div> -->

<div class="corps">
    <h3 class="titre"></h3>
    <p class="contenu"></p>



</div>

