    @import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background: #4DC7E4; 
    font-family: "Josefin Sans", cursive;
    }
.wrapper {
    margin-top:10%;
}

.wrapper h1 {
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    }

.team {
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    }

.team .team_member {
    background: #F4F4F4;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #323A7C;
    position: relative;
    }

.team .team_member h3 {
    color: black;
    font-size: 26px;
    margin-top: 50px;
    }

.team .team_member p.team-role {
    color: #CCC;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
    }

.team .team_member .team-img {
    width: 100px;
    height: 100px;
    border-radius:50%;
    position:absolute;
    top: -50px;
    left:50px;
    transform:translateX(50%);
    background:#F4F4F4;
}
.team .team_member .team-img img{
    width:100px;
    height:100px;
    padding:10px;
}
