body {
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:100%
}

header {
    background-color: #F4F4F4;
    height:76px;
    margin : 0;
    padding:0;
}

#center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link,
.navbar-brand {
    cursor: pointer;
    transition: .3s all ease;
    text-decoration: none;
    background-color: transparent;
    color: #323A7C;
    
}

.nav-link {
    margin-right: 1em !important;
    font-size: 1.4em;
}

.nav-link:hover {
        color: #4DC7E4;
    }

.navbar-collapse {
    justify-content: flex-end;
}

.header-pic {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-pic svg {
    width: 15px;
}

.profil-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-image: url("/Image/profil.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fake-pic:hover {
        cursor: crosshair;
    }
#bande {
    width:100%
}

footer {
background-color:#323A7C;
width:100%;
}

.icone {
    /*width: 100%;  or any custom size 
    height: 100%;
    object-fit: contain;*/
    height:21px;
}

.text {
    margin-top: 10px;
    color: #4DC7E4;
    font-size: 0.9em;
}

.icone-contact span {
font-size:14px;
}
.text {
text-align : center;
}

.separation {
    height: 1px;
    background-color: #4DC7E4;
}

.bas-Page {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.bas-2, .base {
    color: #4DC7E4;
}

li, .base {
    font-size: 0.8em;
}

.list-style {
    list-style: none;
    padding-left: 0;
}

.bas-1 {
    display: flex;
    height: 100px;
}

.bas-2 {
    display: flex;
}

.base {
    display: flex;
    justify-content: flex-end;
}

a {
    transition: .3s all ease;
    text-decoration: none;
    background-color: transparent;
    color: #4DC7E4;
    cursor: pointer;
    padding: 0px 0px 2px;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

@media all and (max-width:745px) {
    .bas-2 {
        display: flex;
        flex-direction: column;
    }
}

/*************************  CSS VALERY DEBUT    ************************************************/

.date{
    display:flex;
    align-items: center;
 }

.du, .au {
    margin-right: 10px;
    padding-top: 15px;
}
.au {
    margin-left: 10px;
}

.formAnnonce {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 4%;
    width: 700px;
    /* margin-left: 25%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.labelAnnonce {
    font-weight: bold;
    font-size: 15px;
   
}

.btnAnnonce, .btnCard, .btnCard-user {
    background-color: #41c070;
    color: aliceblue;
    border-color: #41c070;
    filter: drop-shadow(3px 3px 3px #126e63);
}

    .btnAnnonce:hover, .btnCard:hover {
        background-color: #F5914A;
        border-color: #F5914A;
        filter: drop-shadow(3px 3px 3px #B0774E);
    }

.titreAnnonce {
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
}

@media screen and (max-width: 563px) {
    .titreAnnonce {
        font-size: 15px;
    }

}

/*************************  partie card debut   ************************************************/

.titreAfficherAnnonce {
    margin-left: 42%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
    
}
@media screen and (max-width: 563px) {
    .titreAfficherAnnonce {
        font-size: 15px;
    }
}
.card-title{
    font-weight: bold;
}

.card {
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.zoneCard{
    display: flex;
    justify-content: center;
}

/*************************  partie card fin   ************************************************/

.btnSupprimer, .btnModifier{
    color: lightskyblue;
}

.btnSupprimer:hover {
    color: red;
}

.navAnnonce{
    font-size: 1em;
}



.teste {
    position: fixed;
    z-index: 1;
}

@media screen and (max-width: 756px)
{
    .teste {
        position: absolute;
        z-index: 1;
    }
}


.croixAnnonce {
    font-size: 10px;
    font-weight: bold;
    color: #323a7c;
}




/*************************  CSS VALERY FIN    ************************************************/
/*************************  Cagnotte    ************************************************/
.liste-cagnottes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cagnotte {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.header-cagnotte {
    text-align: center;
}

.img-container {
    position: absolute;
    height: 300px;
    pointer-events: none;
}

.filling-heart {
    position: relative;
    height: 300px;
    width: 300px;
}

.h3art {
    overflow: hidden;
    position: relative;
}

.h3art img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

/*********************************************  Utilisateur  ************************************************/
.user-index-logo {
    display: flex;
    align-items:center;
    justify-content : center;
    margin: 15px;
}
.user-index-log {
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.user-body {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 20px 0 20px;
    justify-content: center;
}

.user-label {
width : 30%;
text-align: end;
margin-bottom : 15px;
}

.user-categorie {
    display: inline-flex;
}

.user-list {
margin-right : 80px;
margin-left : 80px;
margin-top : 80px;
}

.user-section {
    display: flex;
    justify-content: center;
    color : #41C070;
    margin-bottom:20px;
    margin-top:20px;
}

.user-text {
    width: 70%;
    margin-bottom: 15px;
    margin-left: 15px;
}

.user-btn-submit {
    margin-bottom: 20px;
}

.user-index-section {
display : inline-flex;
}

.form-row {
display : flex;
flex-wrap : wrap;
margin-right: -5px;
margin-left: -5px;
}

.user-info-perso {
display: flex;
justify-content : space-between;
margin-bottom: 20px;
}

.user-nom {
    display: inline-flex;
    width: 100%;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom : 10px;
}

.user-input {
    border-radius: 0 5px 5px 0;
    border: 1px solid silver;
    border-left-style: none;
    width: 95%;
    height :40px;
    margin:auto;
}

.user-data {
width:50%;
display: flex;
flex-direction:column;
align-items: stretch;
}

.input-group-text {
    border-radius: 5px 0 0 5px;
}

.user-label-form {
    font-size:12px;
}

.user-create-btn {
display : inline-flex;
flex-direction: row;
justify-content:space-around;
}

.btnCard-user {
    background-color: #41c070;
    color: aliceblue;
    border-color: #41c070;
    filter: drop-shadow(3px 3px 3px #126e63);
    width: 200px;

}

@media screen and (max-width:884px) {
    .user-info-perso, .user-data {
        display: flex;
        flex-direction: column;
        align-items:stretch;
        width: 100vw;
    }
 
    .user-section {
        display:flex;
        justify-content:center;
    }
    .user-nom {
        margin-bottom: 20px;
        margin-right:-4px;
    }

    .user-create-btn {
        display:flex;
        flex-direction:column;
        height : 150px;
        
    }
}

/*********************************************  Quittance  ************************************************/
.quittance {
    padding: 5px 10%;
    font-size: 15px;
}

.quittance h2 {
    text-align: center;
}

.quittance p {
    margin-top: 50px;
}

.emetteur {
    padding-left: 80%;
    }

/*********************************************  Accueil  ************************************************/
.conteneur {
    width: 100vw;
    height: 100vh;
}

.conteneur .box1, .conteneur .box2, .conteneur .box3, .conteneur .box4 {
    height: 50vh;
}

.conteneur .box1 {
    background-image: url('../image/propriete.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.conteneur .titreResidence {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.conteneur .box2 {
    display: flex;
    justify-content: center;
    background-color: #f3c19c;
}

.conteneur .Logo {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    background-image: url('../image/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.conteneur .box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteneur .logoTitre {
    display: flex;
}

.conteneur .titreCopro {
    color: #f3c19c;
}

.conteneur .titreBox {
    color: #8dd7cf;
}

.conteneur .titreBox, .titreCopro {
    font-weight: bold;
}

.conteneur .identifiant {
    margin-left: 25px;
}

.conteneur legend {
    text-align: center;
}

.conteneur .box4 {
    background-color: #8dd7cf;
}

.conteneur .btn {
    margin-left: 35%;
}

/*********************************************  Dashboard  ************************************************/
.dash-mod {
    position: relative;
    display: flex;
    padding: 20px;
}
/* Slideshow container */
.dash-cagnottes, .dash-annonces {
    position: relative;
    width: 50%;
}

/* Hide the images by default */
.dash-cagnotte, .dash-annonces {
    text-align: center;
}

.prev-next {
    margin: 20px 0;
    display:flex;
    justify-content:center;
}

/* Next & previous buttons */
.dash-prev, .dash-next {
    position: relative;
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.dash-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.dash-prev:hover, .dash-next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Number text (1/x etc) */
.dash-mod .dash-numbertext {
    color: dimgrey;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    top: 0;
}

.dash-mod .active {
    background-color: #717171;
}