body {
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height:100%

}

header {
    background-color: #F4F4F4;
    height:75px;
    margin : 0;
    padding:0;
}

#logo {
margin-top:4px;
}

#center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link,
.navbar-brand {
    color: blue;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
        color: #000;
    }

.navbar-collapse {
    justify-content: flex-end;
}

.header-pic {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-pic svg {
        width: 15px;
    }

.profil-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 4px;
    background-image: url("/Image/profil.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .fake-pic:hover {
        cursor: crosshair;
    }
#bande {
    width:100%
}

footer {
background-color:#323A7C;
width:100%;
}

.icone {
    /*width: 100%;  or any custom size 
    height: 100%;
    object-fit: contain;*/
    height:29px;
}

.text {
    margin-top:10px;
    color: #99e5f7;
    font-size: 12px;
}

.icone .icone-info {
    width: 50px;
    height: 50px;
    background:#4DC7E4;
    border-radius:50%;
    margin: 0 auto;
    margin-bottom : 10px;
}
.icone-contact {
    width: 45px;
    height: 45px;
    background-color:#4DC7E4;
    border-radius: 50%;
    margin-top: 4px;
    background-image: url("/Image/icone-tel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icone-contact span {
font-size:24px;
}
.text {
text-align : center;
}

.separation {
    height: 2px;
    width: 90%;
    background-color: #4DC7E4;
    padding: 5px 5%;
}